# Introduction to Function
**FUnction is a group of related statements that perfroms a specific task which is only run when it is called.**

In [1]:
# defining the function
def add():
    a = 5
    b = 10
    c = a + b
    return c

In [3]:
# Calling the function
add()

15

# Default Parameters in Functions
**Parameters are specified after the function name, inside the parentheses**

In [4]:
# Defining the function
def sum(a,b):
    return a+b

In [5]:
#Calling the function
sum(5,8)

13

In [6]:
# Defining the function with default parameters
def sum(a,b=4):
    return a+b

In [7]:
sum(5)

9

In [8]:
sum(5,8)

13

# Positional Arguments
**Positional arguments are arguments that needs to be included in proper position or order**

In [9]:
def my_fun(a,b,c):
    return (a*b+c)

In [10]:
my_fun(2,3,4)

10

# Keywords Arguments

In [11]:
def marks(m,s,e):
    return (m+s+e)

In [12]:
marks(78,89,98)

265

In [13]:
marks(s=98,e=89,m=45)

232

In [20]:
def marks(**score):
    print("Makrs in Science : "+score[science])

In [22]:
marks(science=98, english=89, maths=100)

NameError: name 'science' is not defined

# Python Modules

In [24]:
import cal

In [25]:
cal.add(5,4)

9

In [26]:
cal.mul(5,9)

45

In [27]:
cal.sub(50,5)

45

# Lambda Functions
**Lambda function is a small anonymous function. It can take any number of arguments, but can only have one expression**

In [28]:
a = lambda x : x*x
print(a(5))

25

# Filter, Map and Zip Functions

**Filter Function :** The Filter function filters the given iterable(list, tuple, etc) with the help of a function that tests each element in the iterable to be true ot not.

In [29]:
score = [76,23,54,12,65,43]

In [30]:
def score_check(s):
    if s > 50:
        return True
    else:
        return False

In [31]:
student_score = filter(score_check, score)

In [32]:
for i in student_score:
    print(i)

76
54
65

**Map :** The map() function executes a specified function for each items in a iterable. The item is sent to the function as a parameter.

In [33]:
score = [458,300,498,450,350]
def map_fun(s):
    ans = (s*100)/500
    return ans

In [45]:
mapped_score = map(map_fun, score)

In [46]:
list(mapped_score)

[91.6, 60.0, 99.6, 90.0, 70.0]

**Zip() :**

In [51]:
name = ["udit", "Abhisek", "Kamlesh", "Aadrsh"]
score = [95,89,79,88]

In [52]:
zipped_ = zip(name, score)

In [53]:
list(zipped_)

[('udit', 95), ('Abhisek', 89), ('Kamlesh', 79), ('Aadrsh', 88)]

#  List, Set and Dictionary

**List Comprehension**

In [58]:
lst = [1,2,3,4,5,6]
sqrd_lst = [v**2 for v in lst]
sqrd_lst

[1, 4, 9, 16, 25, 36]

**set Comprehension**

In [60]:
set_com = {v for v in range(1,10)}
set_com

{1, 2, 3, 4, 5, 6, 7, 8, 9}

**Dictionary Comprehension**

In [69]:
dict_com = {val : val*val for val in range(1,10)}
dict_com

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# Aggregate Function
* max()
* min()
* sum()
* mean()
* median()
* mode()

In [75]:
lst = [4,56,8,4,11,22,54,78,95]

In [77]:
max(lst)

95

In [78]:
min(lst)

4

In [87]:
sum(lst)

TypeError: can only concatenate list (not "int") to list

In [83]:
import statistics as s

In [84]:
s.mean(lst)

36.888888888888886

In [85]:
s.mode(lst)

4

In [86]:
s.median(lst)

22